# Server
server/public/static
server/public/index.html
server/temp

# Chat Server
chat-server/models
chat-server/public
chat-server/routes
chat-server/utils
chat-server/commands
chat-server/.cfignore
chat-server/app.js
chat-server/jsdoc-conf.json

# NPM モジュール
node_modules

# JSDoc の出力先
out

# istanbul の出力先
coverage

# 設定ファイル
.idea
*.iml
.settings
.project

# その他
.setenv*
.command-memo
package-lock.json
dist
upload